.titulo-principal {
  color: rgb(21, 255, 0);
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}
